.card{
    background-color: rgb(34, 12, 57);
    color: wheat;
    padding: 1em;
    border: 1px solid rgb(65, 39, 55);
    border-radius: 12px;

}
.tituloT{

font-size: 25px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.parrafo{

font-size: 18px;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;

}
.contenedorCard{
display: grid;
gap: 1em;

}
.titgen{
background-color: cadetblue;
color: black;
padding: 1.2em .5em;
margin:0;
text-align: center;
grid-column: span 3;
width: 100%;
}
@media (min-width: 992px){

    .contenedorCard{
        grid-template-columns: 1fr 1fr 1fr;
    }

}